.upgrade-box:hover .description {
  display: block;
}

.upgrade-box {
  position: relative;
}
.description {
  position: absolute;
  display: none;
  text-align: left;
  top: 0px;
  left: 120px;
  background-color: var(--description-bg);
  color: var(--description-text);
  width: 180px;
  min-height: 120px;
  z-index: 9999;
  padding: 15px;
}
