button {
  color: var(--text-primary);
  background-color: var(--bg-tertiary);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}
button:hover {
  background-color: var(--bg-newbooks);
  box-shadow: rgba(255, 255, 255, 0.35) 0px 0px 10px;
}

.active-buff button {
  box-shadow: none;
  background-color: rgb(66, 92, 65);
}
.unactive-buff button {
  opacity: 0;
}
.unactive-buff button:hover,
.active-buff button:hover {
  box-shadow: none;
}
