.newBooks {
  margin: 0 auto;
  width: 60%;
  background-color: var(--bg-newbooks);
  padding: 25px;
  margin-top: 25px;
  border-radius: 5px;
}

.newBooks-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.newBooks-title {
  text-align: left;
}
