.custom-node {
  border-radius: 10px;
  border: none;
  display: flex;
  flex-direction: column;
  color: var(--text-primary);
  align-items: center;
  justify-content: center;
  background-color: var(--btn-bg);
  padding: 5%;
  min-width: 100px;
  height: 100px;
  min-height: 100px;
}
.custom-node:hover {
  background-color: var(--btn-bg-hover);
}

.custom-node:disabled {
  background-color: var(--btn-bg-disabled);
  color: var(--text-disabled);
}
